@import 'tailwindcss';

@theme {
    --color-primary: #0079ff;
    --color-secondary: #010440;
    --color-blue: #61abfe;
    --color-gray: #b0b1c4;
    --color-background: #faf9f6;
}

body {
    font-family: 'aktiv-grotesk-thai', sans-serif;
    background-color: var(--color-background);
    overflow-x: hidden;
    word-wrap: break-word;
    overflow-wrap: break-word;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}
